{{> addplayer }}

<div>
{{#each allGamePlayers as |playerstats|}}

<table>
  <tr>
    <th>Name</th>
    <th>Points</th>
    <th>Rebounds</th>
    <th>Steals</th>
    <th>Turnovers</th>
    <th>Blocks</th>
    <th>Personal Fouls</th>
  </tr>
  <tr>
    <td>
      <a id= "singleplayer" href = "/singleplayer/{{playerstats.player_id}}">{{playerstats.firstName}} {{playerstats.lastName}}</a>
    </td>
    <td>{{playerstats.points}}</td>
    <td>{{playerstats.rebounds}}</td>
    <td>{{playerstats.steals}}</td>
    <td>{{playerstats.turnovers}}</td>
    <td>{{playerstats.blocks}}</td>
    <td>{{playerstats.personalFouls}}</td>
  </tr>
</table>
{{/each}}
</div>
