<nav>
  <!-- Conditionally render login or logout links -->
  {{#if user.logged_in}}
  <button class="no-button" id="logout">logout</button>
  {{else}}
  <a href="/login">login</a>
  {{/if}}
</nav>

<div>
{{#each games as |game|}}
<table>
  <tr>
    <th>Date</th>
    <th>Season</th>
    <th>Home Team</th>
    <th>Away Team</th>
    <th>Home Score</th>
    <th>Away Score</th>
    <th>Fouls</th>
    <th>Turnovers</th>
    <th>Rebounds</th>
    <th>Steals</th>
    <th>Blocks</th>
    <th>Assists</th>
  </tr>
  <tr>
    <td>
      <a id= "gameplayers" href = "https://agile-refuge-57752.herokuapp.com/api/playerstats/{{game.id}}">{{game.date}}</a>
    </td>
    <td>{{game.season}}</td>
    <td>{{game.homeTeam}}</td>
    <td>{{game.awayTeam}}</td>
    <td>{{game.homeScore}}</td>
    <td>{{game.awayScore}}</td>
    <td>{{game.fouls}}</td>
    <td>{{game.turnovers}}</td>
    <td>{{game.rebounds}}</td>
    <td>{{game.steals}}</td>
    <td>{{game.blocks}}</td>
    <td>{{game.assists}}</td>
  </tr>
</table>
{{/each}}
</div>

<script src="js/homepage.js"></script>

