<nav>
  <!-- Conditionally render login or logout links -->
  {{#if user.logged_in}}
  <a href="/profile">profile</a> | <button class="no-button" id="logout">logout</button>
  {{else}}
  <a href="/login">login</a>
  {{/if}}
 </nav>

<div>
{{#each games as |game|}}
<table>
  <tr>
    <td>
      <a id= "gameplayers" href = "http://localhost:3001/api/gamestats/{{game.id}}">{{game.date}}</a>
    </td>
    <td>{{game.season}}</td>
    <td>{{game.homeTeam}}</td>
    <td>{{game.awayTeam}}</td>
    <td>{{game.homeScore}}</td>
    <td>{{game.awayScore}}</td>
    <td>{{game.fouls}}</td>
    <td>{{game.turnovers}}</td>
    <td>{{game.rebounds}}</td>
    <td>{{game.steals}}</td>
    <td>{{game.blocks}}</td>
    <td>{{game.assists}}</td>
  </tr>
</table>
{{/each}}
</div>

<script src="js/homepage.js"></script>

