<table style="width:100%">
  <tr>
    <td>{{{player.firstName}}}</td>
    <td>{{{player.lastName}}}</td>
    <td>{{{player.points}}}</td>
    <td>{{{player.rebounds}}}</td>
    <td>{{{player.steals}}}</td>
    <td>{{{player.turnovers}}}</td>
    <td>{{{player.blocks}}}</td>
    <td>{{{player.personalFouls}}}</td>
  </tr>
</table>