<div>
{{#each singleGamePlayers as |playerstats|}}

<table>
  <tr>
    <td>{{playerstats.firstName}}</td>
    <td>{{playerstats.lastName}}</td>
    <td>{{playerstats.points}}</td>
    <td>{{playerstats.rebounds}}</td>
    <td>{{playerstats.steals}}</td>
    <td>{{playerstats.turnovers}}</td>
    <td>{{playerstats.blocks}}</td>
    <td>{{playerstats.personalFouls}}</td>
  </tr>
</table>
{{/each}}
</div>