{{> createplayer }}

<table>
  <tr>
    <th>Name</th>
    <th>Position</th>
    <th>Age</th>
    <th>Height</th>
    <th>Weight</th>
    <th>College</th>
  </tr>
  <tr>
    <td>{{bioPlayer.name}}</td>
    <td>{{bioPlayer.position}}</td>
    <td>{{bioPlayer.age}}</td>
    <td>{{bioPlayer.height}}</td>
    <td>{{bioPlayer.weight}}</td>
    <td>{{bioPlayer.college}}</td>
  </tr>
</table>

<div class="playerimgs">
  <img src="/images/{{bioPlayer.id}}.webp" width="350" height="250">
{{!-- all images from nba.com --}}
</div>

<div>
  {{#each allGamePlayers as |playerstats|}}
  <table>
    <tr>
      <th>Points</th>
      <th>Rebounds</th>
      <th>Assists</th>
      <th>Steals</th>
      <th>Turnovers</th>
      <th>Blocks</th>
      <th>Personal Fouls</th>
    </tr>
    <tr>
      <td>{{playerstats.points}}</td>
      <td>{{playerstats.rebounds}}</td>
      <td>{{playerstats.assists}}</td>
      <td>{{playerstats.steals}}</td>
      <td>{{playerstats.turnovers}}</td>
      <td>{{playerstats.blocks}}</td>
      <td>{{playerstats.personalFouls}}</td>
    </tr>
  </table>
  {{/each}}
</div>