<table>
  <tr>
    <th>Name</th>
    <th>Position</th>
    <th>Points</th>
    <th>Age</th>
    <th>Height</th>
    <th>Weight</th>
    <th>College</th>
  </tr>
  <tr>
    <td>{{player.name}}</td>
    <td>{{player.position}}</td>
    <td>{{player.points}}</td>
    <td>{{player.age}}</td>
    <td>{{player.height}}</td>
    <td>{{player.weight}}</td>
    <td>{{player.college}}</td>
  </tr>
</table>

<div>
  <table>
    <tr>
      <th>Points</th>
      <th>Rebounds</th>
      <th>Assists</th>
      <th>Steals</th>
      <th>Turnovers</th>
      <th>Blocks</th>
      <th>Personal Fouls</th>
    </tr>
    <tr>
      <td>{{playerstats.points}}</td>
      <td>{{playerstats.rebounds}}</td>
      <td>{{playerstats.assists}}</td>
      <td>{{playerstats.steals}}</td>
      <td>{{playerstats.turnovers}}</td>
      <td>{{playerstats.blocks}}</td>
      <td>{{playerstats.personalFouls}}</td>
    </tr>
  </table>
</div>